body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dashedBox{
  border-radius: 5px;
  border-color: #00f89d4a;
  border-style: dashed;
  border-width: 2px;
  padding: 1%;
  display: inline-flexbox;
  /* width: 350px; */
  margin: 0 auto;
  /* margin-left: 20%; */
  /* margin-right  : 20%; */
}

#dashedBoxLower{
  border-radius: 5px;
  border-color: #00f89d4a;
  border-style: dashed;
  border-width: 2px;
  padding: 1%;
  width: auto;
  margin-left: 20%;
  margin-right  : 20%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #dashedBox{
    width: 90%;
  }

  #dashedBoxLower{
    width: 90%;
    margin: 0 auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #dashedBox{
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #dashedBox{
    width: 85%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {  
  #dashedBox{
  width: 550px;
  padding: 5px;
}}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  #dashedBox{
    width: 750px;
  }
} */
