#Prefixes{
    background-color: #000000;
    color:  #00f89e;
    text-align: center;
    font-size: x-large;
    border-radius: 7px;
    font-family: 'IM Fell English SC', Gill Sans;
    /* border-color: #00f89e; */
    border-color: #00f89d83;
    border-width: 1px;
    height: 50%;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 13px ;
}

form{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}

/* .firstPart{
    grid-template-rows: [row1-start];
} */
/* 
input{
    background-color: #000000;
    color:  #00f89e;
    text-align: center;
    font-size: x-large;
    border-radius: 5px;
    font-family: 'IM Fell English SC', Gill Sans;
    display: contents   ;
    border-color: #00f89e;
    border-color: #00f89d83;
  } */

  #BlockThis{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto; */
    margin-left: 1px;
    width:170px;
  }

  #ScaledTextBox{
    /* min-width: 130px; */
    width: 120px;
    margin-left: 1px;
    margin-right: 1px;
  }

#btn-randWord{
    width: 80px;
}
  

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #ScaledTextBox{
        font-size: medium;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    #Prefixes{
        font-size: medium;
        width: 100px;
    }
    #btn-randWord{
        font-size: small;
        
        content: "&#62;";
    }

    
  #BlockThis{
    width:130px;
  }
  form{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
}

}


#btn-copy{
        /* position: absolute; */
        /* right: 1px; */
        
        /* align-self: flex-end; */
        border-radius: 0%;
        border-style: none;
        align-self: center;
        background-image: url('copy-icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 15px;
        background-position-x: center;
        background-position-y: center;
        width: 20px;
        height: 20px;
        padding-left: 2px;
        margin-left: 3px;
        margin-right: 3px;
    }

    #btn-copy:focus{
        animation-name: copy-Btn-click;
        animation-duration: 4s;
    }

    @keyframes copy-Btn-click {
        0% { background-color: #000000;}
        100% { background-color: #00f89e;; }
        /* background-color: #000000;
        color:  #00f89e; */
      }

    #DisplayAndCopy{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        margin: 0 auto;
        justify-content: center;
        align-content: center;
        height: 47px;
        /* margin-top: -20ox; */
        /* margin-bottom: -200ox; */
    }

    #DisplayText{
        color:  #00f89e;
        text-align: center;
        font-size: medium;
        align-self: center;

        /* border-radius: 7px; */
        font-family: 'IM Fell English SC', Gill Sans;   
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #ScaledTextBox{
        font-size: large;
        
    }
    #Prefixes{
        font-size: large;
    }  
    #DisplayText{
        font-size: medium;
    }
}





/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    #ScaledTextBox{
        font-size: x-large;
        width: 80%;
      }
    #Prefixes{
        font-size: x-large;
    }
    #DisplayText{
        font-size: x-large;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #ScaledTextBox{
        width: 80%;
      }
      

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

